.video-container {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.progress-bar {
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}